<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="myfirstModule.js"></script>
    <title>Document</title>
</head>
<body>
    
  <button onclick="time()">Time is </button>
   
</body>
</html>